body {
    text-align: center;
    background-color: #D4DF9E;
    color: #5D3004;
    font-family: 'Inter', sans-serif;
}

h1 {
    font-family: 'Syne', sans-serif;
}

#artistContainer {
    justify-content: center;
    font-family: 'Syne', sans-serif;
    font-size: large;
    padding: 20px;
}

.trackContainer {
    background-color: #5D3004;
    color: #D4DF9E;
    width: 50%;
    margin: 0 auto; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.artistItem {
    border: 2px solid #5D3004; 
    border-radius: 10px; 
    padding: 10px;
    margin: 10px auto;
    background-color: #F9F9F9; 
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

.artistItem img {
    width: 80px; 
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}